{
  "extends": [
    "react-app",
    "prettier"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "max-len": [
      "error",
      120
    ]
  }
}