body{
  background-color:rgb(38,40,45);
}

.App {
  font-family: 'Assistant', Arial;
  padding:20px;
}

.Content{
  position:relative;
  max-width:860px;
  margin:0 auto;
}

.Navigation{
  display:flex;
}

.Navigation .item{
  width:50%;
  margin:20px;
}

.item button{
  background-color:transparent;
  color:rgba(100,100,160,1);
  border:rgba(100,100,160,1) 2px solid;
  margin-left:10px;
  padding:5px;
  cursor:pointer;
  transition:background-color 0.2s;
}
.item button:hover{
  background-color:rgba(100,100,160,0.3);
}

.flexxy{
  display:flex;
}

.label{
  font-size:1.75em;
  font-weight:100;
  color:rgba(100,100,160,1);
  text-transform:uppercase;
  margin-bottom:10px;
}

.collapsable{
  transition:max-height 0.5s;
  max-height:200px;
  overflow:hidden;
}

.collapsed{
  max-height:0 !important;
}

.chartjs-render-monitor{
  cursor:crosshair;
}

.select{
  flex-grow:1;
}

.select .select__control, .item .addr input{
  background-color:transparent;
  border:none;
  border-bottom:rgba(100,100,160,0.6) 1px solid !important;
  border-radius:0;
  color:rgba(100,100,160,1);
}

.select .select__control--is-focused{
  box-shadow:none !important;
  border:none;
}

.select .select__indicator-separator{
  background-color:rgba(100,100,160,0.6);
}

.select .select__indicator{
  color:rgba(100,100,160,0.6);
}

.select .select__menu{
  background-color:rgba(42,42,42,0.95);
  color:white;
}

.select .select__option--is-focused{
  background-color:rgba(100,100,160,0.6);
}

.select .select__single-value{
  color:rgba(100,100,160,1);
}

.select .select__input{
  color:rgba(100,100,160,0.6);
}