body{
  background-color:rgb(38,40,45);
}

.App {
  font-family:Arial;
  padding:20px;
}

.Content{
  position:relative;
  max-width:860px;
  margin:0 auto;
}

.Navigation{
  display:flex;
}

.Navigation .item{
  width:50%;
  margin:20px;
}

.Navigation .item .flexxy div:first-child{
  width:100%;
}

.flexxy{
  display:flex;
}


.collapsable{
  transition:max-height 0.5s;
  max-height:200px;
  overflow:hidden;
}

.collapsed{
  max-height:0 !important;
}

.chartjs-render-monitor{
  cursor:crosshair;
}

